<ion-view view-title="Notifications">
  <ion-content>

  	<div class="sumup-info">

	  	<div class="sum-info-data pull-left">
	  		<span class="title">Notifications</span>
	  		<span class="data">1,379</span>
	 	</div>

	 	<div class="pull-right">
	 		<button class="button button-holo-ring">Send Notification</button>
	 	</div>

	 	<div class="clearfix"></div>

  	</div>

    <ion-list>
      <ion-item class="item item-text-wrapper notifications-item" ng-repeat="note in notifications">
      	<div class="not-letter">{{note.letter}}</div>
        <h2>{{note.title}}</h2>
        <p>{{note.message}}</p>

        <div class="action-buttons">
          <button type="button" ng-click="resendNotification(note._id)"><i class=""></i> Resend</button>
          <button type="button" ng-click="deleteNotification(note._id"><i class=""></i> Delete</button>
          <button type="button" ng-click="viewNotification(note._id"><i class=""></i> View</button>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>