<ion-view title="Settings">
 
	<ion-tabs class="tabs-icon-top">


		  <!-- Pets Tab -->
		  <ion-tab title="Dashboard" icon="icon ion-home">
		    <ion-view title="Settings">
		    <ion-content>
		    <h1>Take picture</h1>
			<button class="take-picture" ng-click="takeSnap()">
				Snap
			</button>
			</ion-view>
			</ion-content>
		  </ion-tab>


		  <!-- Adopt Tab -->
		  <ion-tab title="Friends" icon="icon ion-heart">
		  <ion-view title="Settings">
		  <ion-content>
		    <h1>Edit profile information</h1>
			<div class="list list-inset">
			  <label class="item item-input">
			    <input type="text" placeholder="Title" ng-model="settings.title">
			  </label>
			  <button class="take-picture" ng-click="takeSnap()">
				Update title
			  </button>
			</div>
			</ion-content>
			</ion-view>
		  </ion-tab>


		  <!-- About Tab -->
		  <ion-tab title="Account" icon="icon ion-gear-b">
		  <ion-view title="Settings">
		  <ion-content>
		    <h1>Change password</h1>
			<div class="list list-inset">
			  <label class="item item-input">
			    <input type="text" placeholder="Current Pass" ng-model="settings.current_pass">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="New" ng-model="settings.newpwd">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Confirm" ng-model="settings.cpwd">
			  </label>
			</div>
			</ion-content>
			</ion-view>
		  </ion-tab>


		</ion-tabs>
 
</ion-view>