<ion-view title="Settings">
 
	<ion-tabs class="tabs-icon-top">


		  <!-- Pets Tab -->
		  <ion-tab icon="icon ion-home">
		    <ion-view title="Account Settings">
		    <ion-content>
		    <div class="profile-image-rounded"></div>
 			<div class="clearfix"></div>
			<div class="text-center">
		 		<button class="button button-holo-ring button-lr-padded-lg font-lg" ng-click="takeSnap()">Take Picture</button>
		 	</div>
		 	</ion-content>
			</ion-view>
			
		  </ion-tab>


		  <!-- Adopt Tab -->
		  <ion-tab icon="icon ion-heart">
		    <ion-view title="Account Settings">
		    <ion-content>
		    <div class="profile-image-rounded"></div>
 			<div class="clearfix"></div>
 			<div class="login-form updateAccount">
		      <div class="jelly-form">
		        <input type="text" ng-model="notify.title" placeholder="Title">
		      </div>
 		    </div>
		   	<div class="clearfix"></div>
			<div class="text-center">
		 		<button class="button button-holo-ring button-lr-padded-lg font-lg" ng-click="updateAccount()">Update Account</button>
		 	</div>
		 	</ion-content>
			</ion-view>
		  </ion-tab>


		  <!-- About Tab -->
		  <ion-tab icon="icon ion-gear-b">
		  <ion-view title="Settings">
		  <ion-content>
		    <h1>Change password</h1>
			<div class="list list-inset">
			  <label class="item item-input">
			    <input type="text" placeholder="Current Pass" ng-model="settings.current_pass">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="New" ng-model="settings.newpwd">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Confirm" ng-model="settings.cpwd">
			  </label>
			</div>
			</ion-content>
			</ion-view>
		  </ion-tab>


		</ion-tabs>
 
</ion-view>